.agregar button{
    border: none;
    background-color: #151414;
    color:#FFF;
    width: 150px;
    height: 40px;
}
body {
    background-color:rgb(158, 153, 145)
}
#btn-profile {
    margin-bottom: 10px;
}
#btn-productos {
    margin-bottom: 10px;
}

#cambiar-clave {
    margin-bottom: 10px;
}